.container {
  font-family: 'Roboto';
}

/*Header-section-start*/

.header .container {
  height: 80px;
  display: flex;
  align-items: center;
}
.header .container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Web {
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-right: 93px;
}

.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.header-pages {
  display: flex;
  justify-content: space-evenly;
}

.header-item {
  margin-left: 55px;
}

.header-item:nth-child(2) {
  margin-left: 50px;
}

.header-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-svg, .header-svg-use {
  width: 20px;
  height: 18px;
  fill: gray;
  margin-right: 10px;
}

.header-item:nth-child(2) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  border-bottom: 4px solid #2196F3;
  padding-bottom: 28px;
}

.header-item:hover .header-svg-use, .header-item:hover .header-contact, .header-link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contacts .header-item {
  display: flex;
}

.header-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-link:hover {
  fill: #2196F3;
}

.header-contact:hover {
  color: #2196F3;
}
/*Header-section-end*/

/*Buttons-section*/

.buttons-section .container {
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-items:hover {
  background-color: #2196F3;
}

.buttons-items {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #212121;
  padding: 6px 23px;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 25ms ,background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}

.buttons-items:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

/*Button-section-end*/

/*Poster-section*/

.poster-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.poster-item {
  width: 370px;
  height: 404px;
  margin: 15px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.poster-item:hover .poster-img, .poster-item:hover .poster-item {
  background: rgba(33, 150, 243, 0.9);
}

.poster-item:hover {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.poster-img {
  background-image: url();
}

.poster-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0 24px;
  margin-top: 16px;
}

.poster-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 24px;
}


/*Poster-section-end*/

/*Footer-section*/

.footer {
  background: #2F303A;
  font-family: 'Roboto';
  font-weight: 700;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: darkgrey;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-svg-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-svg-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #454045;
  border-radius: 50%;
}

.footer-svg-item:hover {
  background: #2196F3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact:hover {
  color: #2196F3;
}

.footer-Web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-logo {
  font-family: 'Raleway';
  color: #FFFFFF;
}

.footer-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-left: 215px;
}

/*Footer-section-end*/