.Web {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}

.header-logo {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: black;
}

.header-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

.header-link:hover {
  color: #2196F3;
}

.header-contact {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}

.header-contact:hover {
  color: #2196F3;
}

.header-number {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}

.buttons-span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.03em;
}

.buttons-items:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.button-span  {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

letter-spacing: 0.03em;

color: #212121; 
}

.poster-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}

.poster-description {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}

.footer {
  background: #2F303A;
}

.footer-Web {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}

.footer-logo {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-address {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-email {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: darkgrey
}

.footer-email:hover {
  color: #757575;
  
}

.footer-number {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: darkgrey
}
