.Web {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
}

.container {
  display: flex;
}

.card-section {
  box-shadow: inset;
}

/*Header-section*/
 
.header-logo {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: black;
}


.header-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}


.header-link:hover {
  color: #2196F3;
}


.header-contact {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}


.header-contact:hover {
  color: #2196F3;
}


.header-number {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}

/*Header-section-end*/

/*Buttons-section*/

.buttons-items:hover {
  background-color: #2196F3;
}

.buttons-item {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;

display: flex;
text-align: center;
letter-spacing: 0.03em;

color: #F5F4FA;
}


/*Button-section-end*/

/*Poster-section*/


.poster-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;

letter-spacing: 0.06em;

color: #212121;
}


.poster-description {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;

letter-spacing: 0.03em;

color: #757575;
}


/*Poster-section-end*/

/*Footer-section*/


.footer {
  background: #2F303A;
}


.footer-Web {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
}


.footer-logo {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #FFFFFF;
}


.footer-address {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #FFFFFF;
}


.footer-contact:hover {
  color: #757575;
}


.footer-contact {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: darkgrey
}
/*Footer-section-end*/