.Web {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
}


.container {
display: flex;
align-items: center;
}
/*Header-section*/

.header {
  
}

.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;
color: black;
}

.header-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}


.header-link:hover{
  color: #2196F3;
}


.header-contact {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.header-contact:hover {
  color: #2196F3;
}


/*Header-section-end*/

/*Hero-section*/


.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  
  background-color: #757575;
  color: #2F303A;
}


.hero-section {
  background: #2F303A;
}


.hero-title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}


.hero-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}


/*Hero-section-end*/

/*Qualities-section*/


.qualities-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}


.qualities-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}


/*Qualities-section-end*/

/*Work-section*/


.work-title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.work-img {
  display: flex;
}

/*Work-section-end*/

/*Team-section*/


.team {
  background: #F5F4FA;
}


.team-title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}


.team-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: #212121;
}


.team-person {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: #757575;
}


/*Team-section-end*/


/*Footer-section*/


.footer {
  background-color: #212121;
}


.footer-address {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: darkgrey;
}


.footer-contact {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color:darkgrey
}


.footer-contact:hover {
  color: #2196F3;
}


.footer-Web {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;
color: #2196F3;
}


.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  color: #FFFFFF;
  letter-spacing: 0.03em;
  }


  /*Footer-section-end*/