/*Header-section-start*/

.header .container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Web {
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-right: 93px;
}

.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.header-pages {
  display: flex;
  justify-content: space-evenly;
}

.header-item {
  margin-left: 55px;
}

.header-line {
  background-color: #2196F3;
  
}

.header-line::after {
  position: absolute;
  bottom: -33px;
  right: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
}

.header-svg {
  width: 20px;
  height: 18px;
  fill: gray;
  margin-right: 10px;
}

.header-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}

.header-item:nth-child(2) {
  margin-left: 50px;
}

.header-item:nth-child(1) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  border-bottom: 4px solid #2196F3;
  padding-bottom: 28px;
}

.header-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-item:hover .header-svg-use, .header-item:hover .header-contact, .header-link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contacts .header-item {
  display: flex;
}

.header-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact:hover {
  color: #2196F3;
}

/*Header-section-end*/

/*Hero-section-start*/

.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  background-color: #4e4b4b;
  color: #777784;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #444242;
  border: 2px;
  transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 25ms ,background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}

.hero-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-2/Img.jpg);
}

.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: space-evenly;
  display: flex;
  color: #FFFFFF;
  cursor: auto;
}

.hero-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

/*Hero-section-end*/

/* back-drop-section-start */
.back-drop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-drop-form {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.back-drop-text {
  font-family: 'Roboto';
  text-align: center;
  margin: 0 0 13px 0;
}

.back-drop-svg-fill:hover .back-drop-form {
  fill: #2196F3;
}

.back-drop-button {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  top: 8px;
  right: 8px;
  background: #FFFFFF;
  display: flex;
  position: absolute;
  cursor: pointer;
}

.back-drop-button:hover {
  fill: #2196F3;
}

.back-drop-info {
  font-family: 'Roboto';
  color: #757575;
  margin: 0 0 4px 0;
  font-weight: 400;
  font-size: 12px;
}

.back-drop-input {
  display: flex;
  flex-direction: column;
}

.back-drop-input:hover {
  fill: #2196F3;
}

.back-drop-fill:hover {
  border: 1px solid #2196F3;
}

.back-drop-fill {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.back-drop-text-fill {
  font-family: 'Roboto';
  width: 508px;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
}

.back-drop-box {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.back-drop-svg-fill {
  width: 15px;
  height: 15px;
  transform: translate(15px, -30px);
}

.back-drop-button-send {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin: 0 auto;
}

.back-drop-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.back-drop-agree {
  font-family: 'Roboto';
  color: #757575;
}

.back-drop-rule {
  font-family: 'Roboto';
  text-decoration-line: underline;
  color: #2196F3;
}

.back-drop-svg {
  width: 18px;
  height: 18px;
}

/* back-drop-section-ends */

/*Qualities-section-start*/

.qualities-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  display: flex;
  flex-direction: column;
}

.qualities-item::before {
  content: "";
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-item:nth-child(1)::before {
  background-image: url(../img/img-2/antenna-1.png);
}

.qualities-item:nth-child(2)::before {
  background-image: url(../img/img-2/clock-1.png);
}

.qualities-item:nth-child(3)::before {
  background-image: url(../img/img-2/diagram-1.png);
}

.qualities-item:nth-child(4)::before {
  background-image: url(../img/img-2/astronaut-1.png);
}

.qualities-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.qualities-item {
  margin: 30px;
}

.qualities-list {
  display: flex;
  flex-direction: row;
}

/*Qualities-section-end*/

/*Work-section-start*/

.work-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.work-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 94px;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  background: #2F303ACC;
  color: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-list {
  display: flex;
}

.work-img {
  width: 370px;
  height: 294px;
}

.work-script {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: 'Roboto';
  font-weight: 700;
}

.work-text {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  position: absolute;
}

/*Work-section-end*/

/*Team-section-start*/

.team-list {
  display: flex;
}

.team-item {
  margin-left: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 30px;
}

.team-img {
  width: 270px;
  height: 260px;
}

.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-svg {
  width: 20px;
  height: 20px;
}

.team-link {
  fill: #AFB1B8;
}

.team-svg-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-svg-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-svg-item:hover {
  background: #2196F3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-svg-item:hover .team-svg-use {
  background:#2196F3;
  fill: #FFFFFF;
}

.team-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 16px;
}

.team-person {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 10px;
}

.team-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #F5F4FA;
  padding-bottom: 115px;
  padding-top: 94px;
  box-shadow: 0 2px 1px black;
}

/*Team-section-end*/

/*Client-section-start*/

.client-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  padding-bottom: 94px;
  padding-top: 94px;
}

.client-list {
  display: flex;
}

.client-item:hover .client-svg-use {
  color: #2196F3;
  fill: #2196F3;
}

.client-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.client-svg {
  width: 41px;
  height: 42.6px;
  fill: #AFB1B8;
}

.client-svg:hover {
  fill: #2196F3;
}

.client-link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.client-link:hover {
  border: 1px solid #2196F3;
}

/*Client-section-end*/

/*Footer-section-start*/

.footer {
  background: #2F303A;
  font-family: 'Roboto';
  font-weight: 700;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: darkgrey;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-svg-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-svg-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-svg-item:hover {
  background: #2196F3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact:hover {
  color: #2196F3;
}

.footer-Web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-logo {
  font-family: 'Raleway';
  color: #FFFFFF;
}

.footer-media-use {
  fill: #FFFFFF;
}

.footer-media-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  padding-right: 13px;
}

.footer-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-input {
  background: #2F303A;
  border: 1px solid #FFFFFF4D;
  width: 358px;
  height: 50px;
  margin-right: 10px;
}

.footer-media-text {
  color: #FFFFFF;
  font-family: 'Roboto';
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-media-button {
  border: none;
  background: #2196F3;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

/*Footer-section-end*/