.buttons-section .container {
  @extend %container-display-flexes;
  margin-top: 94px;
  margin-bottom: 50px;
  background: $bright-color;
}
.buttons-section {
  display: flex;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 8;
  }
  &__items {
    @include text-filter(500, 16px, 30px, 0);
    @include border(none, 4px);
    padding: 6px 23px;
    margin-left: 8px;
    color: $color;
    cursor: pointer;
    transition: color 250ms $transition 50ms;
    width: 100%;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    &:first-child {
      margin-bottom: 15px;
    }
    &:hover {
      background-color: $accent-color;
      color: $bright-color;
    }
  }
}