.client-section .container {
  @include text-filter (700, 36px, 42px, 0.03em);
  padding-top: 94px;
  padding-bottom: 94px;
  background: $bright-color;
}

.client-section {
  display: flex;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    @extend %flex-center;
  }
  &__icon {
    @include width-height(41px, 42.6px);
    fill: $rain-color;
    transition: fill 250ms $transition 25ms;
  }
  &__link {
    @extend %flex-center;
    @include border(1px solid $rain-color);
    background-color: $bright-color;
    transition: border 250ms $transition 100ms;
    width: 210px;
    height: 92px;
    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
    }
    @media screen and (min-width: 1200px) {
      @include width-height(170px, 90px);
    }
    &:hover {
      border: 1px solid $accent-color;
    }
  }
}

.client-list__item:hover .client-list__icon {
  color: $accent-color;
  fill: $accent-color;
}

.client-section__title {
  @include text-filter (700, 36px, 42px, 0.03em);
  margin-bottom: 50px;
  text-align: center;
  color: $color;
}