.client-section .container {
  @include text-filter (700, 36px, 42px, 0.03em);
  padding-top: 94px;
  padding-bottom: 94px;
  background: $bright-color;
}

.client-list {
  display: flex;
  &__item {
    @extend %flex-center;
    margin-left: 30px;
  }
  &__icon {
    @include width-height(41px, 42.6px);
    fill: $rain-color;
    transition: fill 250ms $transition 25ms;
  }
  &__link {
    @extend %flex-center;
    @include border(1px solid $rain-color);
    @include width-height(170px, 90px);
    background-color: $bright-color;
    transition: border 250ms $transition 100ms;
    &:hover {
      border: 1px solid $accent-color;
    }
  }
}

.client-list__item:hover .client-list__icon {
  color: $accent-color;
  fill: $accent-color;
}

.client-section__title {
  @include text-filter (700, 36px, 42px, 0.03em);
  margin-bottom: 50px;
  text-align: center;
  color: $color;
}