.footer {
  background: $black-ground;
  font-weight: 700;
  &__form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.footer-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-list {
  &__item {
    margin-bottom: 9px;
  }
  &__contact {
    @include text-filter (400, 14px, 24px, 0.03em);
    color: $grey-color;
    transition: color 250ms $transition 100ms;
    &:hover {
      color: $accent-color;
    }
  }
}

.footer-social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  margin-top: 60px;
  margin-bottom: 60px;
  &__title {
    @include text-filter(700, 14px, 16px, 0.03em);
    margin-bottom: 20px;
    color: $bright-color;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
}

.footer-social-list {
  @extend %flex-center;
  gap: 10px;
  &__icon {
    @include width-height;
    fill: $bright-color;
  }
  &__item {
    @extend %flex-center;
    @include width-height(44px, 44px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color $transition 100ms;
    &:hover {
      @extend %flex-center;
      background: $accent-color;
      border-radius: 50%;
    }
  }
}

.footer-info {
  &__logo {
    color: $bright-color;
  }
  &__address {
    @include text-filter (400, 14px, 24px, 0.03em);
    margin-bottom: 9px;
    color: $bright-color;
  }
  &__web {
    @include text-filter(700, 26px, 31px, 0.03em);
    margin-bottom: 20px;
    color: $accent-color;
    font-family: "Raleway";
  }
}

.footer-media {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  &__text {
    margin-bottom: 20px;
    color: $bright-color;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
}

.footer-media-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  &__input {
    @include width-height(100%, 50px);
    margin-right: 10px;
    background: $black-ground;
    @include border(1px solid rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    @media screen and (min-width: 1200px) {
      @include width-height(358px, 50px);
    }
  }
  &__button {
    @extend %flex-center;
    @include width-height(200px, 50px);
    @include text-filter(700, 16px, 30px);
    @include border(none);
    padding-left: 40px;
    background: $accent-color;
    color: $bright-color;
    box-shadow: 0px 4px 4px $darker-rgba-color;
  }
  &__icon {
    @include width-height(24px, 24px);
    padding-left: 13px;
    fill: $bright-color;
  }
}