.header .container {
  @include width-height(100%, 80px);
  display: flex;
  align-items: center;
  border: #ECECEC 1px solid;
}

.header-line {
  border: 1px solid $bit-bright;
}

.header-section {
  display: flex;
  &__web {
    justify-content: flex-end;
    @include text-filter(700, 26px, 31px, 0.03em);
    color: $accent-color;
    font-family: "Raleway";
    @media screen and (min-width: 1200px) {
      margin-left: 215px;
    }
  }
  &__logo {
    color: $black-color;
  }
}

.header-active::after {
  border-bottom: 4px solid $accent-color;
  content: "";
  display: block;
  position: absolute;
  @include width-height(100%, 26px);
  left: 0;
}

.header-modal {
  display: block;
  transition: all 0.3s ease-in-out;
  &__items {
    margin-bottom: 32px;
  }
  &__close {
    display: block;
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: 32px;
    margin-top: 13px;
    cursor: pointer;
  }
  &__open {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__icon {
    display: flex;
    transition: fill 250ms $transition 25ms;
    @include width-height(24px, 24px);
    &:hover {
      fill: $accented-color;
    }
  }
  &__link {
    @include text-filter(500, 40px, 47px, 0.02em);
    color: $color;
    transition: color 250ms $transition 25ms;
    &:hover {
      color: $accented-color;
    }
  }
}

.header-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 10px;
  &__item {
    margin-bottom: 64px;
  }
  &__link {
    color: $accent-color;
  }
}

.header-info {
  &__item {
    margin-top: 32px;
  }
  &__link {
    @include text-filter (500, 24px, 28px, 0.02em);
    color: $grey-color;
  }
}

.header-number {
  @include text-filter (500, 34px, 40px, 0.02em);
  color: $accent-color;
}

.header-list {
  @include width-height(0, 80px);
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  &__item {
    padding-top: 32px;
    @media screen and (min-wdith: 1200px) {
      margin-left: 55px;
    }
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
  &__link {
    color: #212121;
    transition: color 250ms $transition 25ms;
    position: relative;
    @include text-filter (500, 14px, 16px, 0.02em);
    &:hover {
      color: $accent-color;
    }
  }
  &__bar {
    border-bottom: 4px solid $accent-color;
    margin-top: 3px;
    display: block;
    @include width-height(100%, 42px);
  }
}

.header-media__item:hover {
  .header-media__icon,
  .header-media__contact {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-media {
  margin-left: auto;
  display: none;
  gap: 10px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    display: flex;
  }
  &__item {
    height: 20px;
    display: flex;
  }
  &__contact {
    @include text-filter (500, 14px, 16px, 0.02em);
    color: $grey-color;
    transition: color 250ms $transition 50ms;
    margin-right: 25px;
    &:hover {
      color: $accent-color;
    }
  }
  &__icon {
    width: 20px;
    height: 18px;
    margin-top: -2px;
    margin-right: 10px;
    fill: $grey-color; 
    transition: fill 250ms $transition 50ms;
  }
}
// menu
.header-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: white;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
