.header .container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-section__web {
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-right: 93px;
}

.header-section__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
}

.header-list__item {
  margin-left: 55px;
  padding-top: 32px;
}

.header-media__item {
  height: 20px;
  display: flex;
  justify-content: center;
}

.header-list__links {
  color: #2196F3;
}

.header-media__icon {
  width: 20px;
  height: 18px;
  fill: gray;
  margin-right: 10px;
  margin-left: 30px;
}

.header-list__item:nth-child(2) {
  margin-left: 50px;
}

.header-list__item:nth-child(1) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  border-bottom: 4px solid #2196F3;
}

.header-list__link:hover {
  color: #2196F3;
}

.header-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 25ms
}

.header-media__contact {
  transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms;
}

.header-media__icon {
  transition: fill 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms;
}

.header-media__item:hover .header-media__icon, .header-media__item:hover .header-media__contact {
  color: #2196F3;
  fill: #2196F3;
}

.header-media {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-media .header-media__item {
  display: flex;
}

.header-media__contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-media__contact:hover {
  color: #2196F3;
}