.header .container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-section {
  &__web {
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $accent-color;
    margin-right: 93px;
  }
  &__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $black-color;
  }
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  &__item {
    margin-left: 55px;
    padding-top: 32px;
    &:nth-child(2) {
      margin-left: 50px;
    }
    &:nth-child(1) {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #212121;
      border-bottom: 4px solid $accent-color;
      }
    }
  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms $transition 25ms;
    &:hover {
      color: $accent-color;
    }
  }
  &__links {
    color: $accent-color;
  }
}

.header-media__item:hover {
  .header-media__icon, .header-media__contact {
    color: $accent-color;
    fill: $accent-color;
  }
}
// .header-media__item:hover .header-media__icon, .header-media__item:hover .header-media__contact {
//   color: #2196F3;
//   fill: #2196F3;
// }

.header-media {
  display: flex;
  margin-left: auto;
  align-items: center;
  &__item {
    height: 20px;
    display: flex;
    justify-content: center;
  }
  &__contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $header-contact;
    transition: color 250ms $transition 50ms;
    &:hover {
      color: $accent-color;
    }
  }
  &__icon {
    width: 20px;
    height: 18px;
    fill: $grey-color;
    margin-right: 10px;
    margin-left: 30px;
    transition: fill 250ms $transition 50ms;
  }
}