.backdrop {
  @include width-height(100%, 100%);
  position: fixed;
  left: 0;
  top: 0;
  background: $black-color-rgba;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.backdrop-form {
  @include width-height(450px, 609px);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: $bright-color;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 4px 6px $black-color);
  @media screen and (min-width: 1200px) {
    @include width-height(528px, 581px);
  }
  &__title {
    @include text-filter(700, 20px, 30px, 0.03em);
    margin-bottom: 13px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      @include text-filter(700, 20px, 23px, 0.03em);
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.03em;
    }
  }
  &__text {
    margin-top: 13px;
    text-align: start;
    width: auto;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    @media screen and (min-width: 1200px) {
      height: 193.98px;
    }
  }
  &__icon {
    transform: translate(15px, -30px);
    transition: fill 250ms $transition 100ms;
    @include width-height(18px, 18px);
    &:hover {
      fill: $accent-color;
    }
  }
  &__icon-close {
    @include width-height(18px, 18px);
    transition: fill 250ms $transition 100ms;
  }
  &__info {
    @include font;
    margin-left: 4px;
    color: $grey-color;
    }
  &__button {
    @include border(1px solid $black-color-rgba, 50%);
    padding: 5px;
    top: 8px;
    right: 8px;
    background: $bright-color;
    display: flex;
    position: absolute;
    cursor: pointer;
    &:hover {
      fill: $accent-color;
    }
  }
  &__input {
    display: flex;
    flex-direction: column;
    &:hover {
      fill: $accent-color;
    }
  }
  &__fill {
    @include fill(370, 40px, 0 0 0);
    @include font(14px, 0);
    @include border(1px solid $black-color-rgba, 4px);
    transition: border 250ms $transition 100ms;
    &:hover {
      border: 1px solid $accent-color;
    }
  }
  &__text-fill {
    @include fill(508px, 120px, 12px 16px);
  }
  &__box {
    @include text-filter(400, 14px, 24px, 0.03em);
    margin-top: 20px, 30px;
    display: flex;
    align-items: center;
  }
  &__button-send {
    @include width-height(200px, 50px);
    @include border(1px solid $bright-color);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accented-color;
    box-shadow: 0px 4px 4px $darker-rgba-color;
    color: $bright-color;
  }
  &__checkbox {
    @include width-height(15px, 16px);
    margin-right: 9px;
    margin-top: 20px;
    margin-bottom: 31px;
  }
  &__agree {
    color: $grey-color;
    margin-top: 20px;
    margin-bottom: 31px;
  }
  &__rule {
    text-decoration: underline;
    color: $accent-color;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
