.poster-section {
  display: flex;
}

.poster-list {
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  &__item {
    padding-bottom: 20px;
    border: 1px solid $bright-grey;
    width: 354px;
    cursor: pointer;
    &:hover {
      border: 1px solid $bright-color;
      box-shadow: $large-rgba-color;
    }
  }
  &__overlay {
    position: relative;
    display: flex;
    align-items: center;
    @include text-filter(400, 18px, 28px, 0);
    transition: background-color 250ms $transition 100ms;
  }
  &__overlay-text {
    text-align: center;
    position: absolute;
    color: $bright-color;
    opacity: 0;
    transition: color 250ms $transition 100ms;
  }
  &__text {
    @include text-filter(700, 18px, 36px, 0.06em);
    margin: 16px, none, 24, 24;
    color: $color;
    padding-left: 24px;
    margin-top: 20px;
  }
  &__description {
    @include text-filter(400, 16px, 30px, 0.03em);
    color: $grey-color;
    padding-left: 24px;
  }
}

.poster-list__item:hover .poster-list__overlay {
  background: rgba(33, 150, 243, 0.9);
}

.poster-list__item:hover .poster-list__overlay-text {
  opacity: 1;
}

.poster-list__item:hover .poster-list__img {
  opacity: 0.1;
}
