.qualities-list__item:nth-child(1)::before {
  background-image: url(../img/img-2/antenna-1.png);
}

.qualities-list__item:nth-child(2)::before {
  background-image: url(../img/img-2/clock-1.png);
}

.qualities-list__item:nth-child(3)::before {
  background-image: url(../img/img-2/diagram-1.png);
}

.qualities-list__item:nth-child(4)::before {
  background-image: url(../img/img-2/astronaut-1.png);
}

.qualities-section .container {
  @extend %container-display-flexes;
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__item {
    width: 450px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
    &::before {
      content: "";
      @include width-height(450px, 120px);
      @include border(none);
      margin-bottom: 30px;
      background: $background-color-bright;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      @media screen and (min-width: 768px) {
        width: 354px;
        display: flex;
        flex-wrap: wrap;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  &__title {
    @include text-filter(700, 14px, 16px, 0.03em);
    margin-bottom: 10px;
    color: $color;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }
  &__text {
    @include text-filter;
    color: $grey-color;
    width: 452px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
