.qualities-list__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  display: flex;
  flex-direction: column;
}

.qualities-list__item::before {
  content: "";
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-list__item:nth-child(1)::before {
  background-image: url(../img/img-2/antenna-1.png);
}

.qualities-list__item:nth-child(2)::before {
  background-image: url(../img/img-2/clock-1.png);
}

.qualities-list__item:nth-child(3)::before {
  background-image: url(../img/img-2/diagram-1.png);
}

.qualities-list__item:nth-child(4)::before {
  background-image: url(../img/img-2/astronaut-1.png);
}

.qualities-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.qualities-list__item {
  margin: 30px;
}

.qualities-list {
  display: flex;
  flex-direction: row;
}