.team-section__title {
  @include text-filter(700, 36px, 42px, 0.03em);
  text-align: center;
  color: $color;
  margin-bottom: 50px;
}

.team-section {
  display: flex;
  background: $background-color-bright;
}

.team-section .container {
  @extend %container-display-flexes;
  padding-top: 94px;
  padding-bottom: 115px;
  background: $background-color-bright;
}

.team-list {
  @include grids-list(30px);
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    padding-bottom: 30px;
    background: $bright-color;
    box-shadow: $also-large-rgba-color;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    @include grids-item(2, _);
    @media screen and (min-width: 768px) {
      width: 354px;
      @include grids-item(2, 30px);
    }
    @media screen and (min-width: 1200px) {
      @include grids-item(4, 30px);
    }
  }
  &__link {
    fill: $background-color-bright;
    background: none;
  }
  &__person {
    @include text-filter (400, 16px, 19px, 0.03em);
    padding-bottom: 10px;
    margin-top: 30px;
    color: $color;
  }
  &__text {
    @include text-filter (400, 16px, 19px, 0.03em);
    padding-bottom: 16px;
    color: $grey-color;
  }
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  &__item {
    @include width-height(44px, 44px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms $transition 50ms;
    border-radius: 50%;
    &:hover {
      background-color: $accent-color;
    }
  }
  &__icon {
    @include width-height;
    transition: fill 250ms $transition 50ms;
    fill: $rain-color;
    &:hover {
      fill: $bright-color;
    }
  }
}

.team-social__item:hover {
  .team-social__icon {
    fill: $bright-color;
  }
}