.team-section__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $qualities-color;
}

.team-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $qualities-background-color;
  padding-bottom: 115px;
  padding-top: 94px;
  box-shadow: 0 2px 1px $black-color;
}

.team-list {
  display: flex;
  &__item {
    margin-left: 30px;
    background: $hero-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
    &:hover {
      background: $accent-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__link {
    fill: $team-color;
    background: none;
  }
  &__person {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $header-contact;
    padding-bottom: 10px;
  }
  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $qualities-color;
    padding-bottom: 16px;
  }
  &__img {
    width: 270px;
    height: 260px;
  }
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  &__item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms $transition 50ms;
    border-radius: 50%;
  }
  &__icon {
    width: 20px;
    height: 20px;
    transition: fill 250ms $transition 50ms;
  }
  &__link {
    color: $team-color;
  }
}