%container-display-flexes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}